.idea/
MikeOxlong-programmer-som-data/obj/
MikeOxlong-programmer-som-data/bin/
/.config
*.cache
obj
bin
*.user
*.out
*.class
Assignment8/out/production/Assignment8/obj/Assignment8.csproj.nuget.g.props
